* {
	box-sizing: border-box;
	color: white;
}

body{
	background-color: rgb(204, 204, 255);
}

h1 {
	background-color: rgb(255, 153, 255);
	position: relative;
	margin: 30px;
	left: 240PX;
	width: 40%;
	padding: 10px;
	font-family: Savoye LET;
	font-size: 70px;
}


table {
	position: relative;
	padding: 10px;
	left: 100PX;
}

#cookDoubleFudge img{
	width: 250px;
}

#cookLemon img{
width: 250px;
}

#cookPeanutbutter img{
width: 250px;
}

#cookOatmeal img{
width: 250px;
}

#cookChocolateChip img{
width: 250px;
}

#cookSugarCoat img{
width: 250px;
}

button {
	width: 60px;
	height: 30px;
	background-color: rgb(255, 153, 255);
	color: white;
	margin-top: 20px;
	position: absolute;
	left: 500PX;
}

